VITE_API_BASE_URL=http://127.0.0.1:3000
VITE_APP_NAME=RichesPay Admin
# VITE_SUPABASE_URL=http://127.0.0.1:54321
# VITE_SUPABASE_ANON_KEY=replace_me
VITE_SUPABASE_URL=https://bejfophdlurczxkyueow.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_reqIxfHpxM7e-PXi6b1NKQ_Ojn_fVwT